Lego Set Analysis

In [1]:
import pandas as pd

In [15]:
df=pd.read_csv("https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv")
theme=pd.read_csv("https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv")

In [16]:
df.head()
theme.head(50)

     id                      name  is_licensed
0     1                   Technic        False
1    22                   Creator        False
2    50                      Town        False
3   112                    Racers        False
4   126                     Space        False
5   147                   Pirates        False
6   155         Modular Buildings        False
7   158                 Star Wars         True
8   186                    Castle        False
9   204             Designer Sets        False
10  206                  Seasonal        False
11  233                     Train        False
12  246              Harry Potter         True
13  252              Architecture        False
14  254               Bulk Bricks        False
15  258                Mindstorms        False
16  263  Pirates of the Caribbean         True
17  264             Indiana Jones         True
18  269                      Cars         True
19  270                    Ben 10         True
20  271          Prince of Persia         True
21  272     SpongeBob SquarePants         True
22  273                   Studios        False
23  275                 Toy Story         True
24  276                Sculptures        False
25  278                Model Team        False
26  279                 4 Juniors        False
27  296               Adventurers        False
28  301                     Other        False
29  302                    Agents        False
30  304                Alpha Team        False
31  307                  Aquazone        False
32  315                  Atlantis        False
33  317                    Avatar         True
34  318                  Belville        False
35  324                  Bionicle        False
36  363                      Boat        False
37  364  Building Set with People        False
38  365                   Classic        False
39  384                 Dino 2010        False
40  385               Dino Attack        False
41  386                 Dinosaurs        False
42  387                 Discovery        False
43  388     Disney's Mickey Mouse         True
44  389                 Exo-Force        False
45  390                  Fabuland        False
46  397                   Factory        False
47  398         FIRST LEGO League        False
48  399                 Freestyle        False
49  400              Hero Factory        False

In [13]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [23]:
marged=df.merge(theme, left_on="parent_theme", right_on="name")
marged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [24]:
marged.drop(columns="name_y", inplace=True)
marged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [26]:
licensed= marged[marged["is_licensed"]]
licensed.head()

star_wars= licensed[licensed["parent_theme"]=="Star Wars"]
star_wars.head(50)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
3498,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,True
3499,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3500,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3501,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3502,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,True
3503,10174-1,Imperial AT-ST - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3504,10175-1,Vader's TIE Advanced - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3505,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,True
3506,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,True
3507,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,True
3508,10188-1,Death Star,2008,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3509,10195-1,Republic Dropship with AT-OT,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
3510,10198-1,Tantive IV,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3511,10212-1,Imperial Shuttle - UCS,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3512,10215-1,Obi-Wan's Jedi Starfighter - UCS,2010,NaN,Star Wars Episode 2,Star Wars,158,True
3513,10221-1,Super Star Destroyer,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3514,10225-1,R2-D2,2012,2130.0,Ultimate Collector Series,Star Wars,158,True
3515,10227-1,B-wing Starfighter,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3516,10236-1,Ewok Village,2013,2023.0,Star Wars Episode 4/5/6,Star Wars,158,True
3517,10240-1,Red Five X-Wing Starfighter,2013,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3518,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,True
3519,20006-1,Clone Turbo Tank - Mini,2008,64.0,Star Wars Episode 3,Star Wars,158,True
3520,20007-1,Republic Attack Cruiser - Mini,2009,NaN,Star Wars Episode 3,Star Wars,158,True
3521,20009-1,AT-TE Walker - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,True
3522,20010-1,Republic Gunship - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,True
3523,20016-1,Imperial Shuttle - Mini,2010,70.0,Star Wars Episode 4/5/6,Star Wars,158,True
3524,20018-1,AT-AT Walker - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3525,20019-1,Slave I,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3526,20021-1,Bounty Hunter Gunship - Mini,2011,81.0,Star Wars Clone Wars,Star Wars,158,True
3527,2853590-1,Stormtrooper,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3528,2853835-1,White Boba Fett Figure,2010,NaN,Star Wars,Star Wars,158,True
3529,2856197-1,Shadow ARF Trooper,2011,NaN,Minifig Pack,Star Wars,158,True
3530,30004-1,Battle Droid on STAP,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
3531,30005-1,Imperial Speeder Bike,2009,33.0,Star Wars Episode 4/5/6,Star Wars,158,True
3532,30006-1,Clone Walker,2009,31.0,Star Wars Clone Wars,Star Wars,158,True
3533,30050-1,Republic Attack Shuttle - Mini,2010,54.0,Star Wars Clone Wars,Star Wars,158,True
3534,30051-1,X-wing Fighter - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3535,30052-1,AAT - Mini,2011,NaN,Star Wars Episode 2,Star Wars,158,True
3536,30053-1,Republic Attack Cruiser - Mini,2011,41.0,Star Wars Episode 3,Star Wars,158,True
3537,30054-1,AT-ST - Mini,2011,46.0,Star Wars Episode 4/5/6,Star Wars,158,True
3538,30055-1,Vulture Droid - Mini,2011,42.0,Star Wars Episode 3,Star Wars,158,True
3539,30056-1,Star Destroyer,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3540,30057-1,Anakin's Pod Racer,2012,NaN,Star Wars Episode 1,Star Wars,158,True
3541,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,True
3542,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,True

In [28]:
star_wars.shape

(609, 8)

In [37]:
marged[marged["set_num"].isnull()].shape

(153, 8)

In [39]:
licensed=licensed.dropna(subset=["set_num"])
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [40]:
the_force=int(star_wars.shape[0]/licensed.shape[0]*100)
print(the_force)

51

In [46]:
licensed_sorted= licensed.sort_values("year")
licensed_sorted.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3702,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,True
3705,7171-1,Mos Espa Podrace,1999,NaN,Star Wars Episode 1,Star Wars,158,True
3690,7140-1,X-wing Fighter,1999,271.0,Star Wars Episode 4/5/6,Star Wars,158,True
3685,7130-1,Snowspeeder,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3684,7128-1,Speeder Bikes,1999,93.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [51]:
licensed_sorted["count"]=1
licensed_sorted.head()

summed_df=licensed_sorted.groupby(["year","parent_theme"]).sum().reset_index()
summed_df.head()

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7161-17171-17140-17130-17128-17141-17121-17131...,Gungan SubMos Espa PodraceX-wing FighterSnowsp...,1384.0,Star Wars Episode 1Star Wars Episode 1Star War...,2054,13,13
1,2000,Disney's Mickey Mouse,4165-14167-14166-14164-14178-1,Minnie's Birthday PartyMickey's MansionMickey'...,405.0,Disney's Mickey MouseDisney's Mickey MouseDisn...,1940,5,5
2,2000,Star Wars,7134-13341-17159-17144-17124-17115-17104-14151...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
3,2001,Harry Potter,4723-14707-14722-14721-14709-14701-14702-14704...,Diagon Alley ShopsHagrid's HutGryffindorHogwar...,1284.0,Sorcerer's StoneSorcerer's StoneSorcerer's Sto...,2706,11,11
4,2001,Star Wars,7166-17186-165028-165030-165034-18007-18008-17...,Imperial ShuttleWatto's JunkyardStar Wars Co-P...,2949.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,2212,14,14

In [56]:
max_df=summed_df.sort_values("count", ascending=False).drop_duplicates(["year"])
max_df.sort_values("year", inplace=True)
max_df

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7161-17171-17140-17130-17128-17141-17121-17131...,Gungan SubMos Espa PodraceX-wing FighterSnowsp...,1384.0,Star Wars Episode 1Star Wars Episode 1Star War...,2054,13,13
2,2000,Star Wars,7134-13341-17159-17144-17124-17115-17104-14151...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
4,2001,Star Wars,7166-17186-165028-165030-165034-18007-18008-17...,Imperial ShuttleWatto's JunkyardStar Wars Co-P...,2949.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,2212,14,14
6,2002,Star Wars,8011-165153-165145-165106-1K7204-1K7153-17163-...,Jango FettJango Fett's Slave I (Set 7153) wit...,4735.0,Star WarsStar Wars Episode 2Star Wars Episode ...,4424,28,28
9,2003,Star Wars,K4487-1K4488-1K4482-1VP-10K4479-1K4480-14487-1...,Star Wars Miniatures Kit IStar Wars Miniatures...,6660.0,MiniMiniStar Wars Episode 2Star Wars OtherStar...,5056,32,32
12,2004,Star Wars,10134-17262-16964-26963-210131-1K4492-16963-1K...,Y-wing Attack Starfighter - UCSTIE Fighter and...,1659.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,3160,20,20
16,2005,Star Wars,7259-17258-17256-17255-17252-17257-16967-27261...,ARC-170 StarfighterWookiee AttackJedi Starfigh...,4730.0,Star Wars Episode 3Star Wars Episode 3Star War...,4424,28,28
20,2006,Star Wars,10175-110174-16205-16208-16206-16211-16212-172...,Vader's TIE Advanced - UCSImperial AT-ST - UCS...,2769.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,1738,11,11
24,2007,Star Wars,7660-17659-17658-17657-17656-17661-17662-17663...,Naboo N-1 Starfighter and Vulture DroidImperia...,11361.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,2528,16,16
28,2008,Star Wars,comcon001-17667-17668-17669-17669-27670-17670-...,Clone Wars Pack - San Diego Comic-Con 2008 Exc...,6865.0,Star Wars Clone WarsStar Wars OtherStar Wars O...,3634,23,23
32,2009,Star Wars,8039-18033-17748-17749-110198-17751-17752-1775...,Venator-Class Republic Attack CruiserGeneral G...,3953.0,Star Wars Clone WarsStar Wars Episode 3Star Wa...,6162,39,39
36,2010,Star Wars,8099-18084-18085-18086-18087-18088-18089-18091...,Midi-Scale Imperial Star DestroyerSnowtrooper ...,6003.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4740,30,30
42,2011,Star Wars,66396-166395-166378-166377-1comcon015-17915-17...,Star Wars Super Pack 3 in 1 (7877 7929 7913)St...,3451.0,Star Wars Episode 1Star WarsStar Wars Clone Wa...,5056,32,32
47,2012,Star Wars,66432-1comcon019-1comcon024-130058-166431-1949...,"Star Wars Super Pack 3 in 1 (9490, 9492, 9496)...",6769.0,Star WarsStar WarsStar Wars Episode 4/5/6Star ...,6794,43,43
52,2013,Star Wars,75001-175000-166449-130240-130241-130242-13024...,Republic Troopers vs. Sith TroopersClone Troop...,6159.0,Star WarsStar Wars Episode 2Star WarsStar Wars...,5530,35,35
59,2014,Star Wars,75046-175045-175044-175043-175039-175041-17504...,Coruscant Police GunshipRepublic AV-7 Anti-Veh...,8293.0,Star WarsStar WarsStar WarsStar WarsStar WarsS...,7110,45,45
67,2015,Star Wars,75099-1SW911506-1SW911508-1SW911509-1SW911511-...,Rey's SpeederSnowspeederMini Slave 1Imperial ...,11410.0,Star WarsStar Wars Episode 4/5/6MiniStar Wars ...,9164,58,58
76,2016,Star Wars,75156-175157-175159-130279-175158-130602-13060...,Krennics Imperial ShuttleCaptain Rexs AT-TED...,6934.0,Star Wars Rogue OneStar Wars RebelsStar WarsSt...,9638,61,61
82,2017,Super Heroes,76075-1211701-130449-130521-17090470903-170902...,"Wonder Woman"" Warrior BattleBatmanThe MilanoTh...",13123.0,Super HeroesBatmanMarvelBatmanBatmanBatmanBatm...,34704,72,72

In [57]:
new_era=2017

### Break down number of sets by year

In [64]:
clean_df=marged[~marged["set_num"].isnull()]
clean_df["count"]=1
sets_per_years=clean_df.groupby(["year"]).sum().reset_index()[["year","count"]]

for index,row in sets_per_years.iterrows():
    print(row["year"],row["count"])

1950 7
1953 4
1954 14
1955 28
1956 12
1957 21
1958 42
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 10
1966 89
1967 21
1968 25
1969 69
1970 29
1971 45
1972 38
1973 68
1974 39
1975 31
1976 68
1977 92
1978 73
1979 82
1980 88
1981 79
1982 76
1983 57
1984 76
1985 139
1986 123
1987 209
1988 68
1989 114
1990 85
1991 106
1992 115
1993 111
1994 128
1995 128
1996 144
1997 194
1998 325
1999 300
2000 327
2001 339
2002 447
2003 415
2004 371
2005 330
2006 283
2007 319
2008 349
2009 403
2010 444
2011 502
2012 615
2013 593
2014 715
2015 670
2016 608
2017 438

C:\Users\keshav\AppData\Local\Temp\ipykernel_22760\2369122903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df["count"]=1